.player-controls {
  padding: .5em;
  border-radius: .25em;
  display: flex;
  justify-content: center;
  background: rgba(0, 0, 0, .5);
}

.PlayButton,
.PauseButton,
.PrevButton,
.NextButton,
.SoundOnButton,
.SoundOffButton {
  margin-right: 10px;
  padding: 8px;
  border: 2px solid rgba(252, 100, 217, 0);
  background: #00000000;
  outline: none;
  display: inline-block;
}

.PlayButton[disabled],
.PauseButton[disabled],
.PrevButton[disabled],
.NextButton[disabled],
.SoundOnButton[disabled],
.SoundOffButton[disabled] {
  opacity: 0.5;
}

.PlayButton.isEnabled,
.PauseButton.isEnabled,
.PrevButton.isEnabled,
.NextButton.isEnabled,
.SoundOnButton.isEnabled,
.SoundOffButton.isEnabled {
  cursor: pointer;
}

.PlayButton.isEnabled:hover,
.PauseButton.isEnabled:hover,
.PrevButton.isEnabled:hover,
.NextButton.isEnabled:hover,
.SoundOnButton.isEnabled:hover,
.SoundOffButton.isEnabled:hover {
  /* border-color: #ff00cc;  */
}

.PlayButton.isEnabled:hover .Icon-shape,
.PauseButton.isEnabled:hover .Icon-shape,
.PrevButton.isEnabled:hover .Icon-shape,
.NextButton.isEnabled:hover .Icon-shape,
.SoundOnButton.isEnabled:hover .Icon-shape,
.SoundOffButton.isEnabled:hover .Icon-shape {
  fill: #ff00cc;
}

.PlayButton.isEnabled:active,
.PauseButton.isEnabled:active,
.PrevButton.isEnabled:active,
.NextButton.isEnabled:active,
.SoundOnButton.isEnabled:active,
.SoundOffButton.isEnabled:active {
  /* border-color: #ff00cc88; */
}

.PlayButton.isEnabled:active .Icon-shape,
.PauseButton.isEnabled:active .Icon-shape,
.PrevButton.isEnabled:active .Icon-shape,
.NextButton.isEnabled:active .Icon-shape,
.SoundOnButton.isEnabled:active .Icon-shape,
.SoundOffButton.isEnabled:active .Icon-shape {
  fill: #ffee00;
}

.Icon {
  display: block;
  width: 30px;
  height: 30px;
}

.Icon-shape {
  fill: rgb(252, 100, 217);
}

.MuteToggleButton {
  display: inline-block;
}
