.controls-overlay {
  z-index: 100;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  
  /* testing conditions */
  /* display: none; */
}

.controls-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.react-player {
  overflow: hidden;
}

.showdown-react-player-container {
  width: 100vw;
  height: 100vw;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.placeholder {
  flex-basis: 33%;
  color: white;
}

@media (min-width: 100vh) {
  .showdown-react-player-container {
    height: 100vh;
  }
}
