.NavContainer {
	position: relative;
	width: 8.75em;
	height: 1.5em;
}

.u-hidden {
	display: none;
}

.nav {
	background: transparent;
	width: 8.75em;
	position: absolute;
	top: -.5em;
}

.nav.open {
	background: #FF00FF;
	border-radius: 0 .5em 0 0;
}

.header.with-slideshow .nav.open {
	background: rgba(255, 0, 255, .9);
}

.nav-btn {
	background: transparent url('./assets/nav-closed.svg') no-repeat 50% 50%;
	font: 1em;
	border: 0;
	outline: 0;
	width: 3em;
	height: 3em;
	padding: 0;
	margin: 0;
	float: right;
	cursor: pointer;
	border-radius: .5em;
}

.nav.closed .nav-btn {
	background: transparent url('./assets/nav-closed.svg') no-repeat 50% 50%;
}

.header.with-slideshow .nav.closed .nav-btn {
	background: rgba(0, 0, 0, .25) url('./assets/nav-closed.svg') no-repeat 50% 50%;
	border-style: solid;
	border-width: .1em;
	border-color: #909090 #909090 #808080 #808080;
}

.header.with-slideshow .nav.closed .nav-btn:active, .header.with-slideshow .nav.closed .nav-btn:hover {
	background: #ff00ff url('./assets/nav-closed.svg') no-repeat 50% 50%;
	border-color: #ff99ff #ff99ff #990099 #990099;
}

.nav.open .nav-btn {
	background: transparent url('./assets/nav-open.svg') no-repeat 50% 50%;
}

.menu {
	clear: both;
}

.nav.closed .menu {
	display: none;
}

.nav.open .menu {
	display: block;
}

.menu-wrapper {
	
}

.nav.open .menu-wrapper {

}

.menu-list {
	list-style: none;
	padding: 0;
	margin: 0;
}

.menu-list-item {
	margin: 0;
	padding: 0;
}

.menu-list-link {
	background: transparent;
	display: block;
	text-align: center;
	padding: .5em .5em;
	color: #000000;
	text-decoration: none;
	line-height: 1em;
	text-transform: capitalize;
	transition: background .25s;
}

.menu-list-link:hover {
	background: #ffffff;
}

.tickets-link {
	background: #00FF00;
	margin-top: 1em;
	padding: .75em .5em;
}

.ns-nav-container {
	position: relative;
	width: 8.75em;
	height: 1.5em;
}

.ns-nav-container .nav {
	background: transparent;
	width: auto;
	position: static;
	top: 0;
}

.ns-menu-wrapper {
	background: #FF00FF;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: stretch;
	margin-right: 1em;
}

.ns-menu-list {
	margin-top: 3.5em;
	flex-grow: 1;
	list-style: none;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: space-around;
}

.ns-nav-btn {
	display: block;
	background: transparent;
	min-width: 3em;
	min-height: 3em;
}

.ns-menu-wrapper.hide-mobile {
	display: none;
}

@media screen 
and (min-width: 768px) {
	.ns-nav-container {
		position: static;
		width: auto;
		height: auto;
		flex-grow: 1;
	}

	.ns-menu-wrapper {
		background: transparent;
		height: auto;
	}

	.ns-menu-wrapper.hide-mobile {
		display: block;
	}

	.ns-menu-wrapper.hide-desktop {
		display: none;
	}

	.ns-menu-list {
		margin: 0;
		padding: 0;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-around;
	}

	.ns-menu-list .menu-list-link {
		padding: 0;
		color: #FF00FF;
		margin: 0 .5em;
	}

	.ns-menu-list .menu-list-link:hover {
		background: transparent;
		color: #ffffff;
	}

	.ns-menu-list .tickets-link {
		background: transparent;
		color: #00FF00;
		margin: 0;
	}
}

@media screen
and (min-width: 992px) {
	.NavContainer {
		margin-right: 1em;
	}

	.ns-nav-wrapper {
		margin-right: 1em;
	}
}

@media screen 
and (min-width: 1200px) {
	.nav-btn {
		float: left;
	}

	.nav.open {
		border-radius: .5em 0 0 0;
	}
}